.project-selection-page {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;

  .projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    width: 100%;
  }
}